#nav_area {
    overflow: hidden;
  }
  #logo_area {
    float: left;
  }
  ul.skinny {
    float: right;
    width:650px;
  }
  ul.skinny li {
    display: inline-block;
    vertical-align:middle;
    text-align:center;
    border-left:1px solid white;
    width: 150px;
  }
  ul.skinny li:first-child { border:none; }
  ul.skinny li a {
    display:block;
    text-decoration:none;
  }

  .navlogo{
      height: 35px;
      max-width: auto;
      margin-top: 10px;
      margin-left: 10px;
  }

  .contents{
    
  }

  .contents-child{
      height: 600px;
      width: 80%;
      
  margin: 10px auto;
  width:95%;
  }

  .contents-child-MSC{
    height: 600px;
    width: 80%;
    background-image: url(img/MSClogo.png);
  margin: 10px auto;
  width:95%;
  }
 
  .contents-child-MP{
    height: 600px;
    width: 80%;
    background-image: url(img/MPlogo.png);
  margin: 10px auto;
  width:95%;
  }


  li:hover{
    color:#0090ff;
  }